$font-stack: Georgia, Times, serif;
$primary-color: red;

h1
{
    font: 100% $font-stack;
    color: $primary-color;
    font-size: 1.5em;
}

body
{
    background-color: beige;
}

#newId {
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;

}
